<?xml version="1.0" encoding="UTF-8"?>
<!--trace (the least serious)-->
<!--debug-->
<!--info-->
<!--warn-->
<!--error-->
<!--fatal (the most serious)-->
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy.MM.dd HH:mm:ss} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Hibernate -->
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <!--&lt;!&ndash;log just the SQL &ndash;&gt;-->
        <!--<Logger name="org.hibernate.SQL" level="error" additivity="false">-->
        <!--<AppenderRef ref="console"/>-->
        <!--</Logger>-->
        <!--&lt;!&ndash;log JDBC bind parameters &ndash;&gt;-->
        <!--<Logger name="org.hibernate.type" level="error" additivity="false">-->
        <!--<AppenderRef ref="console"/>-->
        <!--</Logger>-->
        <Logger name="com.javacodegeeks.ultimate" level="trace" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>